<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-main">
			<div class="sidebar-content">

				<!-- User menu -->
				<div class="sidebar-user">
					<div class="category-content">
						
						<div class="media">
						
							<div class="media-body">
								<span class="media-heading text-semibold">

								</span>
								<div class="text-size-mini text-muted">

								</div>
							</div>

							<div class="media-right media-middle">
								<ul class="icons-list">
									<li>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->
				<!-- Main navigation -->
				<div class="sidebar-category sidebar-category-visible">
					<div class="category-content no-padding">
						<ul class="navigation navigation-main navigation-accordion">

							<!-- Main -->
							<li class="navigation-header"><span></span> <i class="icon-menu" title="Main pages"></i>
							</li>
							<li class="<%= (title == 'dashboard_active'?'active':'') %>"><a href="/dashboard"><i
										class="icon-home4"></i> <span>Dashboard</span></a></li>
							<li>
								<a href="#"><i class="icon-user"></i> <span>Users</span></a>
								<ul>
									<li class="<%= (title == 'user_active'?'active':'') %>"><a href="/users">User
											Listing</a></li>
								</ul>
							</li>
							<li>
								<a href="#"><i class="icon-truck"></i> <span>Transporters</span></a>
								<ul>
									<li class="<%= (title == 'transporter_active'?'active':'') %>"><a
											href="/transport_users">
											Listing</a></li>
								</ul>
							</li>

						    	<li>
								<a href="#"><i class="icon-star-empty3"></i> <span>Transporter Rating</span></a>
								<ul>
									<li class="<%= (title == 'transporter_ratings'?'active':'') %>"><a href="/transporter_ratings">Ratings
										</a></li>
							
								</ul>
							</li>
							<li>
								<a href="#"><i class="icon-portfolio"></i> <span>Bookings</span></a>
								<ul>
									<li class="<%= (title == 'bookings_req'?'active':'') %>"><a href="/bookings_req"> Requests 
										</a></li>
							
								</ul>
							
							</li>
							<li class="<%= (title == 'term_conditions'?'active':'') %>">
								<a href="/term_conditions"><i class="icon-clipboard5"></i> <span>Terms & Conditions</span></a>
								</li>
								<li>
									<a href="/privacy_policy"><i class=" icon-book-play"></i> <span>Privacy &
										Policy</span></a>
									</li>
								</li>
							
								<li>
									<a href="#"><i class="icon-file-plus2"></i> <span> FAQS</span></a>
									<ul>
										<li class="<%= (title == 'faqs'?'active':'') %>"><a href="/faqs">Add Questions & Answers
											</a></li>
										<li class="<%= (title == 'index_question'?'active':'') %>"><a href="/index_question">
													Listing</a></li>
									</ul>
								</li>
	
	


							<li class="<%= (title == 'contact'?'active':'') %>">
								<a href="/contactlist"><i class="icon-bubbles9"></i> <span>User Contacts </span></a>
								
							</li>
							<li>
								<a href="#"><i class="icon-paste2"></i> <span>Withdraw</span></a>
								<ul>
									<li class="<%= (title == 'withdraw_active'?'active':'') %>"><a href="/withdraw">Requests
										</a></li>
							
								</ul>
							</li>



						</ul>

					</div>
				</div>
				<!-- /main navigation -->
			</div>
		</div>
		<!-- /main sidebar -->
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Page header -->
			<div class="page-header page-header-default">
				<div class="page-header-content">
					<div class="page-title">
						<h4><a href="/dashboard"> <i class="icon-arrow-left52 position-left"></i> <span
									class="text-semibold">Home</span></a></h4>
					</div>
				</div>
			</div>
			<!-- /page header -->
			<!-- Content area -->